<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionname}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</head>
<body>
<div th:insert="navigation :: navigation"></div>

<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span th:text="${sectionname}"></span></h2>
            <hr>
            <ul class="media-list" th:each="question:${pagesDTO.questions}">
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object"
                                 th:src="${question.user.avatar_url}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" th:text="${question.title}"></h4>
                        <span th:text="${question.description}"></span>
                        <br>
                        <span class="text-desc">
                            <span th:text="${question.comment_count}"></span>个回复 #
                            <span th:text="${question.view_count}"></span>次浏览 #
                            <span th:text="${#dates.format(question.gmt_create,'yyyy-MM-dd HH:mm')}"></span>

                    </span>
                    </div>
                </li>
            </ul>


            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagesDTO.first_page}">
                        <a th:href="@{'/profile/'+${section}(page=${1})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li th:if="${pagesDTO.previous_page}">
                        <a th:href="@{'/profile/'+${section}(page=${pagesDTO.page - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page: ${pagesDTO.pages}" th:class="${pagesDTO.page==page}?'active':''">
                        <a th:href="@{'/profile/'+${section}(page=${page})}" th:text="${page}">
                        </a>
                    </li>

                    <li th:if="${pagesDTO.next_page}">
                        <a th:href="@{'/profile/'+${section}(page=${pagesDTO.page + 1})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagesDTO.last_page}">
                        <a th:href="@{'/profile/'+${section}(page=${pagesDTO.page_count})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="/profile/questions"
                   th:class="${section=='question'}?'list-group-item action':'list-group-item'">我的问题</a>
                <a href="/profile/replies" th:class="${section=='repies'}?'list-group-item action':'list-group-item'">
                    <span class="badge">14</span>
                    最新回复
                </a>
            </div>
        </div>

    </div>
</div>
</body>
</html>